
:root {
    /* Color palette */
    --main: #F0EBCE;
    --secondary: #4E6C50;
    --accent: #AA8B56;

    /* Neutral colors */
    --white-text: #ffffff;
    --dark-text: #000000;

    /* Table colours */
    --sold: #f15b5b;
    --ferli: #FFA500;

    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

}
.gradient {
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.footer {
    background-color: var(--secondary);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
}

.footer-column {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
}

.footer-column h4 {
    margin: 10px;
}
.footer-column p {
    margin: 0;
}
.main-column {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frontpage {
    height:100vh;
    width:100vw;
    background-image: url(../media/kg92-rendering.jpg);
    background-size: cover;
    background-position: center;

}
.row {
    display:flex;
    flex-direction: row;
}

img {
    max-width: 100%;
    max-height: 90vh;
}

.topnav {
    position: fixed;
    background-color: var(--secondary);
    top:0;
    right:0;
    left:0;
    overflow: hidden;
    z-index:10;
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: var(--white-text);
    float: right;
    display: block;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.topnav a:hover {
    box-shadow: inset 450px 50px 50px 50px var(--dark-text);
    color: var(--main)
  }

.burger {
    display:none;
}
.column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-box {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 100%;
    background-color: var(--accent);
    border-radius:10px;
}
.image-map-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 100%;
    border-radius:10px;
}
#floor {
    max-height:50vh;
}

.horizontal-scroller {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 100%;
    background-color: var(--accent);
    border-radius:10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.horizontal-scroller img {
    height:100%;
    width:auto;
    margin-right: 15px;

}
.horizontal-scroller .fullscreenview {
    display:none;
    justify-content: center;
    background-color: var(--dark-text);
    background-image: url(../media/iceberg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    z-index: 10;
}
.horizontal-scroller::-webkit-scrollbar {
    display: none;
}
.close-fullscreen {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--white-text);
    padding: 10px;
    margin: 10px;
    font-size: 42px;
    cursor: pointer;
}
/* CTA Block styles */
.cta-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 80vw;
    max-width:400px;
    background-color: var(--secondary);
    border-radius:10px;
}
.cta-block__img {
    width: 100%;
    height:240px;
    max-width: 700px;
    margin: 0;
    background-image: url(../media/iceberg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
 button {
    background-color: var(--accent);
    color: var(--white-text);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}
button:hover {
    background-color: var(--main);
    color: var(--dark-text);
}

button .light {
    background-color: var(--main);
    color: var(--dark-text);
}
button .light:hover {
    background-color: var(--accent);
    color: var(--white-text);
}


.hide {
    display: none!important;
}

.apt-scroller {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: var(--accent);
    border-radius:10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.apt-details {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-text);
    width: 300px;
    min-width:300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden; /* Ensures the image corners are also rounded */
}
.apt-details[data-stada="seld"] {
    background-color: var(--sold)!important;
}
.apt-details[data-stada="ferli"] {
    background-color: var(--ferli)!important;
}

.apt-details img {
    width: 100%;
    height: 200px;
    object-fit:contain;
    min-width: 200px;
}

.apt-details .apt-details {
    padding: 15px;
}
.apt-details.selected {
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);
    transform: scale(1.05);
    border: 3px solid var(--dark-text);
    
}
.apt-details:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}
.specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.specs > p > i {
    margin-right:10px;
}

.card-button {
    margin:10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--white-text);
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    cursor:pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.card-button:hover {
    background-color: var(--white-text);
    color: var(--dark-text);
}
/* Table styling */
table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
    color: var(--dark-text);
    border-radius: .4em;
    overflow:visible;
  }
  .table-header{
    border-top: none;
    background: var(--accent); /* fallback for old browsers */
    color: var(--white-text)
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: var(--white-text);
}

.rwd-table tr.apt-row.seld{
    background-color: var(--sold)!important;
    color: var(--white-textimportant)!important;

}
.rwd-table tr.apt-row.seld:hover{
    background-color: var(--accent)!important;
    color: var(--white-text)!important;

}
.desc::before {
    content: "▾";
    margin-right:4px;
}
.asc::before {
    content: "▴";
    margin-right:4px;
}
#filter-price, #filter-apt, #filter-size {
    cursor:pointer;
}



.rwd-table tr:hover {
    background-color: var(--accent);
    color: var(--white-text);
}
.rwd-table .selected {
    background-color: var(--accent);
    color: var(--white-text);
}

.rwd-table td:first-child {
    margin-top: .5em;
}
.rwd-table td:last-child {
    margin-bottom: .5em;
}
.rwd-table th {
    top:0;
    position: sticky;
    background: var(--accent); /* fallback for old browsers */
    color: var(--white-text)
}
.rwd-table td {
    text-align: left;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
    padding: .5em 2em;
}

    .info-column img {
    max-width: 60%;
    height: auto;
}
    .info-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    margin: 20px;
    padding: 60px;
    height: 100%;
    }
    .apt-info-table {
    border-collapse: collapse;
    margin: 20px 0;
}

.apt-info-table thead {
    background-color: #f8f8f8;
}

.apt-info-table th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.apt-info-table tr:hover {background-color: #f5f5f5;}

.sales {
display:flex;
width:100vw;
flex-direction: column;
justify-content: center;
align-items: center;
border-bottom: #000000;
padding: 20px;
}
.agencies {
display:flex;
width: 100%;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
}
.agency {
height: fit-content;
width:25vw;
min-width:230px;
display:flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
gap: 24px;
border: 0px solid #323232;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
padding:20px;

}
.sales-rep {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

.sales-rep > img {
    height:240px;
    width:auto;
    border-radius: 100%;
}
.sales-rep > a {
    color: var(--dark-text);
    text-decoration: none;
    padding: 4px 0px 4px 0;

}
.sales-rep 
.sales-rep > a > i {
    padding-right:8px;
}

/*Modal styling*/
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative; /* Add this line */

  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border: 1px solid #888;
  height:70%;
  width: 70%; /* Could be more or less, depending on screen size */
}
.modal-content img {
  height:70%;
  width: auto;
}

/* The Close Button */
.close {
  position: absolute;
    color: #aaa;
    top: 10px;
  right: 10px;
  margin:50px 20px 0 0;
    float: right;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 760px) {
    .modal-content {
        height:100%;
        width: 100%; /* Could be more or less, depending on screen size */
      }
      .modal-content img {
        width:60%;
        height: auto;
      }
      .close {
        top: 30px;
        right: 30px;
      }

    .agency {
        width: 90%;
    }
    #scroll {
        position: fixed;
        background-color: var(--secondary);
        color: white;
        height:54px;
        width:100vw;
        opacity: 0.8;
        top:0;
    }
    body {
        padding-top:54px;
    }
    .info-column {
        flex-direction: column;
        margin: 0px;
        padding: 20px;
    }
    .info-column img {
        max-width:100%;
        height: auto;
    }
    .apt-info-table {
        width: 100%;
        max-width: 100%;
    }
    .burger {
        position: fixed;
        top:0;
        right:0;
        display: inline-block;
        
        cursor: pointer;
        margin:10px 12px 10px 12px;
        z-index: 10;
    }
  

    .bar1, .bar2,.bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--main);
        margin: 6px 0;
        transition: 0.4s;
        z-index:10;
    }
    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        background-color: var(--white-text);

    }

    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}

    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: var(--white-text);

    }
    .topnav {
        display: none;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100vw;
        opacity: 0.95;
        background-color: var(--secondary);
        justify-content:center;
    }
    .topnav a {
        color: var(--white-text);
        font-size: 38px;
    }
    .show {
        display:flex;
    }
    .rwd-table thead tr {
        position:sticky;
    
    }

}